@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(200, 202, 171);
    
}

header>h1{
    padding: 40px;
    text-align: center;
    
}

span#burguer {
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer; /* O cursor vira uma mãozinha apontando ao passar sobre o menu hamburguer. */
}

span#burguer:hover{
    background-color: white;
    color: black;
}



menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray;

}

menu > ul > li > a:hover{
    background-color: gray;
}

div.container {

    
    background-color: gray;
    background-image: url(../imagens/foto10.jpeg); 
    background-position: right;
    padding-top: 50px;
    padding-bottom: 400px;
    padding-left: 50px;
    background-size: cover;
    
    
  }

  div#caixa{
    
    background-color: aqua;
    text-align: center;
    height: 100px; /* altura */
    width: 250px; /* largura */
    border: 1px solid black; /* borda */
    margin-top: 50px;
    padding: 20px;
    border-radius: 4%;
 
}

a#link:hover{ /* quando passar o mouse sobre a div ele receberá tais configurações */
    text-decoration: underline;
    
}

a{
    text-decoration: none;
}
  

footer {
    background-color: rgb(122, 112, 112);
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}

footer > a {
    padding: 30px;
}
