@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}




.cabecalho{
    position: fixed;
    background-color: rgb(229, 160, 160);
    width: 100%;
    padding-top: 32px;
    padding-bottom: 31px;
    text-align: center;
    
}


div.container {
    
    text-align: center;
    

  }

  img {
    display: block; /* Isso garante que a margem automática funcione */
    margin: 0 auto; /* Margem automática à esquerda e à direita centraliza a imagem */
    width: auto;
  }


footer {
    background-color: rgb(122, 112, 112);
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}

footer > a {
    padding: 30px;
   
}

